@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;

}

header {
    background-image: url(../assets/design1_image1.jpg);
    background-position-y: -200px;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 35vh;
}

body {
    
   background-color: rgb(235, 239, 215);

}
 
@media only screen and(min-width:320px) and (max-width:425px){
 main{
    background-color: rgb(190, 64, 64);
 }
}
@media only screen and(min-width:426px)and(max-width:768px){
    main{
        background-color: rgba(212, 212, 104, 0.648);

    }
}
h1 {
    color: yellow;
    word-spacing: 0.30em;
    text-indent: 20px;
    text-shadow: -1px -1px 1px red
}

.login {
    height: 150px;

    position: relative;
    bottom: -100px;
    left: 140vh;


}


nav {
    background-color: black;
    height: 10vh;
    width: 100%;
}


nav h2 {
    color: aliceblue;
    text-align: center;

}
@media only screen and (max-width: 375px) {
    nav h2 { 
        color: black;
    }
}
.bar {

    background-color: black;
    color: white;
    display: inline-block;
    margin: 0;
    margin-top: 50px;
    flex-direction: column;
    width: 140px;
    position: absolute;

}

.bar a {
    height: 20%;
    color: aliceblue;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid yellow;
    border-radius: 1rem;
}

.bar a:hover {
    background-color: red;
    color: white;

}

section {
    justify-content: center;
    display: inline-block;
    text-align: left;
    left: 26vh;
    width: 70%;
    position: relative;
    margin-top: 10px;
}


section p {
    display: inline-block;
    translate: 100px;
    width: 100vh;
    text-align: left;
    position: relative;
    bottom: 250px;


}

aside {
    justify-content: center;
    display: inline-block;
    text-align: left;
    left: 30vh;
    width: 70%;
    position: relative;
    margin-top: 10px;
}

.image img {
    height: 200px;
    width: 200px;
    border-radius: 1rem;
    display: inline-flex;
    transition: all 0.5s;
}



.image {
    display: inline-block;
    justify-items: center;
    margin: 3rem;

}

p {
    text-align: left;
    margin: 20px;
}

#title {
    text-align: center;
    display: block;
}

.maps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

iframe {
    border-radius: 1rem;
    border: 2px solid rgb(187, 177, 152);
    margin: 1rem;
}

 .registration{
    background-color:rgb(235, 239, 215);
  justify-content: center;
text-align: left;
float: left;
width: 70%;
margin-top: 56px;
margin-left: 215px;
}
